# Node dependencies
node_modules/

# Environment config
.env
key.json  # Your Firebase Admin SDK private key

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Firebase
firebase-debug.log
.firebaserc
